Computing stats for single cell RNA bubbleplot

In [3]:
import scanpy as sc
import numpy as np
import pandas as pd
import anndata as ad
import synapseclient

In [4]:
syn = synapseclient.Synapse()
syn.login()

Welcome, heimann!

In [5]:
#loading h5ad file after qc, described in 'msk_data_prep.ipynb'
entity = syn.get('syn52118064')
adata = sc.read_h5ad(entity.path)
adata

AnnData object with n_obs × n_vars = 16475 × 25090
    obs: 'n_genes_by_counts', 'log1p_n_genes_by_counts', 'total_counts', 'log1p_total_counts', 'mito_frac', 'RBP_frac', 'batch', 'donor_id', 'treatment', 'procedure', 'author_cell_type', 'cell_type_broad', 'clusters', 'treatment_categorized', 'subtype', 'H_treatment', 'H_subtype', 'cell_type_ontology_term_id', 'tissue_ontology_term_id', 'disease_ontology_term_id', 'organism_ontology_term_id', 'is_primary_data', 'development_stage_ontology_term_id', 'assay_ontology_term_id', 'sex_ontology_term_id', 'self_reported_ethnicity_ontology_term_id', 'suspension_type', 'HTAN_Biospecimen_ID', 'HTAN_Participant_ID', 'cell_type', 'assay', 'disease', 'organism', 'sex', 'tissue', 'self_reported_ethnicity', 'development_stage'
    var: 'ensembl_gene_id', 'feature_is_filtered', 'feature_reference', 'feature_biotype'
    uns: 'log1p', 'neighbors', 'schema_version', 'title'
    obsm: 'X_pca', 'X_umap'
    layers: 'counts', 'log2(X+0.1)', 'normalized'
    obsp: 'connectivities', 'distances'

In [8]:
#we'll need to use the R package that queries the iAtlas database, the libraries below are necessary to call R code

#getting the list of immunomodulators from CRI iAtlas
from rpy2.robjects.packages import importr
import rpy2.robjects as ro

iatlasGraphQLClient = importr('iatlasGraphQLClient')
immunomodulators = ro.conversion.rpy2py(iatlasGraphQLClient.query_immunomodulators())
immunomodulators

<rpy2.robjects.vectors.DataFrame object at 0x12e332cd0> [19]
R classes: ('tbl_df', 'tbl', 'data.frame')
[IntSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ListSexpV...]
  entrez: <class 'rpy2.rinterface.IntSexpVector'>
  <rpy2.rinterface.IntSexpVector object at 0x12e6ce050> [13]
  hgnc: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12e6bf490> [16]
  friendly_name: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12e4a1dd0> [16]
  description: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12e6f8110> [16]
  gene_family: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12e7306d0> [16]
  gene_function: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12e6cde50> [16]
  immune_checkpoint: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12db4a050> [16]
  super_category: <class 'rpy2.rinterface_lib.sexp.StrSexpVector'>
  <rpy2.rinterface_lib.sexp.StrSexpVector object at 0x12e7213d0> [16]
  publications: <class 'rpy2.rinterface.ListSexpVector'>
  <rpy2.rinterface.ListSexpVector object at 0x12e7203d0> [19]

In [9]:
#get a list of the genes that are present in the dataset & are immunomodulators
genes = pd.Series(adata.var[np.isin(adata.var.index, immunomodulators[2])].index)
genes

0      ADORA2A
1         ARG1
2         BTLA
3       BTN3A1
4       BTN3A2
        ...
57         TNF
58    TNFRSF18
59       VEGFA
60       VEGFB
61       VTCN1
Name: feature_name, Length: 62, dtype: category
Categories (25090, object): ['A1BG', 'A1CF', 'A2M', 'A2ML1', ..., 'ZYG11B', 'ZYX', 'ZZEF1', 'ZZZ3']

In [12]:
#compute how many counts map to each cell type
freq_cell_types = adata.obs["cell_type_broad"].value_counts()
freq_cell_types

cell_type_broad
T cells    11697
Myeloid     2994
NK          1104
B cell       680
Name: count, dtype: int64

In [13]:
#create grid with all cell x gene combinations
lp1, lp2 = pd.core.reshape.util.cartesian_product([freq_cell_types.index, genes])
cell_gene = pd.DataFrame(dict(cell=lp1, gene=lp2))
cell_gene

       cell      gene
0   T cells   ADORA2A
1   T cells      ARG1
2   T cells      BTLA
3   T cells    BTN3A1
4   T cells    BTN3A2
5   T cells      CD27
6   T cells     CD276
7   T cells      CD28
8   T cells      CD40
9   T cells    CD40LG
10  T cells      CD70
11  T cells      CD80
12  T cells     CTLA4
13  T cells    CX3CL1
14  T cells     CXCL9
15  T cells     EDNRB
16  T cells    ENTPD1
17  T cells      GZMA
18  T cells     HLA-A
19  T cells     HLA-B
20  T cells     HLA-C
21  T cells  HLA-DPA1
22  T cells  HLA-DPB1
23  T cells  HLA-DQA1
24  T cells  HLA-DQA2
25  T cells  HLA-DQB1
26  T cells  HLA-DQB2
27  T cells   HLA-DRA
28  T cells  HLA-DRB1
29  T cells  HLA-DRB5
30  T cells     HMGB1
31  T cells     ICAM1
32  T cells      ICOS
33  T cells    ICOSLG
34  T cells      IDO1
35  T cells     IFNA1
36  T cells     IFNA2
37  T cells      IFNG
38  T cells      IL10
39  T cells      IL13
40  T cells      IL1A
41  T cells      IL1B
42  T cells       IL2
43  T cells     IL2RA
44  T cells       IL4
45  T cells     ITGB2
46  T cells   KIR2DL1
47  T cells   KIR2DL3
48  T cells      LAG3
49  T cells      MICA
50  T cells      MICB
51  T cells      PRF1
52  T cells      SELP
53  T cells    SLAMF7
54  T cells     TGFB1
55  T cells     TIGIT
56  T cells      TLR4
57  T cells       TNF
58  T cells  TNFRSF18
59  T cells     VEGFA
60  T cells     VEGFB
61  T cells     VTCN1
0   Myeloid   ADORA2A
1   Myeloid      ARG1
2   Myeloid      BTLA
3   Myeloid    BTN3A1
4   Myeloid    BTN3A2
5   Myeloid      CD27
6   Myeloid     CD276
7   Myeloid      CD28
8   Myeloid      CD40
9   Myeloid    CD40LG
10  Myeloid      CD70
11  Myeloid      CD80
12  Myeloid     CTLA4
13  Myeloid    CX3CL1
14  Myeloid     CXCL9
15  Myeloid     EDNRB
16  Myeloid    ENTPD1
17  Myeloid      GZMA
18  Myeloid     HLA-A
19  Myeloid     HLA-B
20  Myeloid     HLA-C
21  Myeloid  HLA-DPA1
22  Myeloid  HLA-DPB1
23  Myeloid  HLA-DQA1
24  Myeloid  HLA-DQA2
25  Myeloid  HLA-DQB1
26  Myeloid  HLA-DQB2
27  Myeloid   HLA-DRA
28  Myeloid  HLA-DRB1
29  Myeloid  HLA-DRB5
30  Myeloid     HMGB1
31  Myeloid     ICAM1
32  Myeloid      ICOS
33  Myeloid    ICOSLG
34  Myeloid      IDO1
35  Myeloid     IFNA1
36  Myeloid     IFNA2
37  Myeloid      IFNG
38  Myeloid      IL10
39  Myeloid      IL13
40  Myeloid      IL1A
41  Myeloid      IL1B
42  Myeloid       IL2
43  Myeloid     IL2RA
44  Myeloid       IL4
45  Myeloid     ITGB2
46  Myeloid   KIR2DL1
47  Myeloid   KIR2DL3
48  Myeloid      LAG3
49  Myeloid      MICA
50  Myeloid      MICB
51  Myeloid      PRF1
52  Myeloid      SELP
53  Myeloid    SLAMF7
54  Myeloid     TGFB1
55  Myeloid     TIGIT
56  Myeloid      TLR4
57  Myeloid       TNF
58  Myeloid  TNFRSF18
59  Myeloid     VEGFA
60  Myeloid     VEGFB
61  Myeloid     VTCN1
0        NK   ADORA2A
1        NK      ARG1
2        NK      BTLA
3        NK    BTN3A1
4        NK    BTN3A2
5        NK      CD27
6        NK     CD276
7        NK      CD28
8        NK      CD40
9        NK    CD40LG
10       NK      CD70
11       NK      CD80
12       NK     CTLA4
13       NK    CX3CL1
14       NK     CXCL9
15       NK     EDNRB
16       NK    ENTPD1
17       NK      GZMA
18       NK     HLA-A
19       NK     HLA-B
20       NK     HLA-C
21       NK  HLA-DPA1
22       NK  HLA-DPB1
23       NK  HLA-DQA1
24       NK  HLA-DQA2
25       NK  HLA-DQB1
26       NK  HLA-DQB2
27       NK   HLA-DRA
28       NK  HLA-DRB1
29       NK  HLA-DRB5
30       NK     HMGB1
31       NK     ICAM1
32       NK      ICOS
33       NK    ICOSLG
34       NK      IDO1
35       NK     IFNA1
36       NK     IFNA2
37       NK      IFNG
38       NK      IL10
39       NK      IL13
40       NK      IL1A
41       NK      IL1B
42       NK       IL2
43       NK     IL2RA
44       NK       IL4
45       NK     ITGB2
46       NK   KIR2DL1
47       NK   KIR2DL3
48       NK      LAG3
49       NK      MICA
50       NK      MICB
51       NK      PRF1
52       NK      SELP
53       NK    SLAMF7
54       NK     TGFB1
55       NK     TIGIT
56       NK      TLR4
57       NK       TNF
58       NK  TNFRSF18
59       NK     VEGFA
60       NK     VEGFB
61       NK     VTCN1
0    B cell   ADORA2A
1    B cell      ARG1
2    B cell      BTLA
3    B cell    BTN3A1
4    B cell    BTN3A2
5    B cell      CD27
6    B cell     CD276
7    B cell      CD28
8    B cell      CD40
9    B cell    CD40LG
10   B cell      CD70
11   B cell      CD80
12   B cell     CTLA4
13   B cell    CX3CL1
14   B cell     CXCL9
15   B cell     EDNRB
16   B cell    ENTPD1
17   B cell      GZMA
18   B cell     HLA-A
19   B cell     HLA-B
20   B cell     HLA-C
21   B cell  HLA-DPA1
22   B cell  HLA-DPB1
23   B cell  HLA-DQA1
24   B cell  HLA-DQA2
25   B cell  HLA-DQB1
26   B cell  HLA-DQB2
27   B cell   HLA-DRA
28   B cell  HLA-DRB1
29   B cell  HLA-DRB5
30   B cell     HMGB1
31   B cell     ICAM1
32   B cell      ICOS
33   B cell    ICOSLG
34   B cell      IDO1
35   B cell     IFNA1
36   B cell     IFNA2
37   B cell      IFNG
38   B cell      IL10
39   B cell      IL13
40   B cell      IL1A
41   B cell      IL1B
42   B cell       IL2
43   B cell     IL2RA
44   B cell       IL4
45   B cell     ITGB2
46   B cell   KIR2DL1
47   B cell   KIR2DL3
48   B cell      LAG3
49   B cell      MICA
50   B cell      MICB
51   B cell      PRF1
52   B cell      SELP
53   B cell    SLAMF7
54   B cell     TGFB1
55   B cell     TIGIT
56   B cell      TLR4
57   B cell       TNF
58   B cell  TNFRSF18
59   B cell     VEGFA
60   B cell     VEGFB
61   B cell     VTCN1

We need to compute:
- % of cell of a given type that expresses a gene (count expr by type/freq of cell type)
- mean expr value

In [14]:
def get_expr_by_cell(cell_type, gene):
    expr = adata[adata.obs.cell_type_broad == cell_type].to_df(layer="counts")[gene]
    counts = sum(expr != 0)
    if(counts>0): avg = (expr[expr != 0]).mean()
    else: avg = 0 #technically this is wrong, but plotting libraries crash with NAs or characters
    return counts, avg

In [22]:
# Function to apply to each row
def apply_function(row):
    counts, avg = get_expr_by_cell(row['cell'], row['gene'])  
    return pd.Series({'counts': counts, 'avg': avg})

# Apply the function to each row and concatenate the results
result = pd.concat([cell_gene, cell_gene.apply(apply_function, axis=1)], axis=1)

In [23]:
result.iloc[0:10]

      cell     gene  counts       avg
0  T cells  ADORA2A     2.0  1.902162
1  T cells     ARG1     4.0  1.763940
2  T cells     BTLA   474.0  1.909067
3  T cells   BTN3A1  2802.0  2.027277
4  T cells   BTN3A2  5087.0  2.110082
5  T cells     CD27  4794.0  2.162383
6  T cells    CD276    51.0  1.879961
7  T cells     CD28  2263.0  2.028319
8  T cells     CD40   148.0  1.960982
9  T cells   CD40LG  1481.0  2.111081

In [25]:
#Now we compute the % of cells from a given cell type that have expression for a gene
result = pd.merge(result, freq_cell_types, left_on='cell', right_index=True)
result['perc_expr'] = result['counts'] / result['count']
result.iloc[0:10]

      cell     gene  counts       avg  count  perc_expr
0  T cells  ADORA2A     2.0  1.902162  11697   0.000171
1  T cells     ARG1     4.0  1.763940  11697   0.000342
2  T cells     BTLA   474.0  1.909067  11697   0.040523
3  T cells   BTN3A1  2802.0  2.027277  11697   0.239549
4  T cells   BTN3A2  5087.0  2.110082  11697   0.434898
5  T cells     CD27  4794.0  2.162383  11697   0.409849
6  T cells    CD276    51.0  1.879961  11697   0.004360
7  T cells     CD28  2263.0  2.028319  11697   0.193468
8  T cells     CD40   148.0  1.960982  11697   0.012653
9  T cells   CD40LG  1481.0  2.111081  11697   0.126614

In [26]:
#change column names
result.columns = ["cell", "gene", "counts", "avg", "Freq", "perc_expr"]
result.iloc[0:10]

      cell     gene  counts       avg   Freq  perc_expr
0  T cells  ADORA2A     2.0  1.902162  11697   0.000171
1  T cells     ARG1     4.0  1.763940  11697   0.000342
2  T cells     BTLA   474.0  1.909067  11697   0.040523
3  T cells   BTN3A1  2802.0  2.027277  11697   0.239549
4  T cells   BTN3A2  5087.0  2.110082  11697   0.434898
5  T cells     CD27  4794.0  2.162383  11697   0.409849
6  T cells    CD276    51.0  1.879961  11697   0.004360
7  T cells     CD28  2263.0  2.028319  11697   0.193468
8  T cells     CD40   148.0  1.960982  11697   0.012653
9  T cells   CD40LG  1481.0  2.111081  11697   0.126614

In [27]:
#The MSK data has different names for cells than what we will use in iAtlas, so let's update them
result['cell'] = result['cell'].replace(['T cells', 'Myeloid'], ['T cell', 'myeloid cell'])

[WARNING] /var/folders/dv/r6k_tzv51_965ns1n7_w6_hh0000gn/T/ipykernel_9178/3464894311.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  result['cell'] = result['cell'].replace(['T cells', 'Myeloid'], ['T cell', 'myeloid cell'])

In [29]:
#Add dataset info and save data into file
result['dataset'] = "MSK"
result.to_csv('msk_bubble_plot_df.tsv', sep='\t', index=False)
file_entity = synapseclient.File('msk_bubble_plot_df.tsv', 'syn61486284')
file_entity = syn.store(file_entity)

Uploading to Synapse storage: 100%|██████████| 15.7k/15.7k [00:00<00:00, 26.4kB/s, msk_bubble_plot_df.tsv]